*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

$white: #ffffff;
$buttercup: #f2b71d;
$shaft: #252525;
$silver: #bcbcbc;
$red: #dc1245;
$gray: #6b6b6b;
$shake: #52b9cb;
$amethyst: #be43cb;
$rum: #a2790e;
$bahama-blue: #03609f;
$kourmikova: #fee478;
$cod: #373839;
$haze: #e4e7e7;
$fuel-yellow: #ebb024;
$russet: #7d5d57;
$fountain-blue: #4ebdc6;
$fountain-easy: #53b8c5;
$abbey: #4d5156;
$firefly: #0d2229;
$shark: #252627;
$calico: #e1c599;