*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

$white: #ffffff;
$buttercup: #f2b91e;
$shaft: #222222;
$silver: #bcbcbc;
$red: #dc1245;
$gray: #ddd;
$shake: #52b9cb;
$amethyst: #be43cb;
$rum: #a2790e;
$bahama-blue: #03609f;
$kourmikova: #fee478;
$cod: #373839;
$haze: #edf2f5;
$fuel-yellow: #ebb024;
$russet: #7d5d57;
$fountain-blue: #4ebdc6;
$fountain-easy: #53b8c5;
$abbey: #4d5156;
$firefly: #2d4649;
$shark: #252627;
$calico: #e1c599;
$black: #222;